.create-group-modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.group-name-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-selection {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.user-item {
  padding: 8px;
  cursor: pointer;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-item.selected {
  background-color: #f0f8ff;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.create-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.group-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.group-item:hover {
  background-color: #f0f0f0;
}

.conversationImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 20px;
}

.conversationDetails {
  display: flex;
  flex-direction: column;
}

.conversationName {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.conversationLastMessage {
  font-size: 0.875rem;
  color: #555;
}
/* Style for options dialog box */
.edit-delete-actions {
  position: absolute;
  top: 40px; /* Adjust according to your button's position */
  right: 0;
  background: #f8f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.edit-delete-actions button {
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: background-color 0.3s ease;
}

.edit-delete-actions button:hover {
  background-color: #6aececb2;
}

/* Ensure button and menu don't overlap visually */
.options-btn {
  position: relative;
}



