.login{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2ff;
    align-items: center;
    justify-content: center;
    display: flex;
}
.loginWrapper{
    height: 70%;
    width: 70%;
    display: flex;
}
.loginLeft, .loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: #4ba8dd;
    margin-bottom: 10px;
}
.loginDesc{
    font-size: 24px;
}
.loginBox{
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}
.loginInput:focus{
    outline: none;
}
.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(26, 81, 133);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.loginForgot{
    text-align: center;
    color:#4ba8dd ;
    cursor: pointer;
}
.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(28, 139, 14);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
