 .share{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 7px 3px 14px 0px rgba(0,0,0,0.64); 
   box-shadow: 7px 3px 14px 0px rgba(0,0,0,0.64);
 }

 .shareWrapper{
    padding: 10px;
 }

 .shareTop{
    display: flex;
    align-items: center;
 }

 .shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit:contain;
    margin-right: 10px;
 }

 .shareInput{
    border: none;
    width: 80%;
 }

 .shareInput:focus{
    outline: none;
 }
 .shareHr{
    margin: 20px;
 }

 .shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 .shareOptions{
    display: flex;
    margin-right: 15px;
 }
 .shareOption{
    display: flex;
    align-items: center;
    margin: 10px;
    cursor: pointer;
 }
 .shareIcon{
    font-size: 15px;
    margin-right: 3px;  
 }
 .ShareOptionText{
    font-size: 14px;
    font-weight:  500;
 }
 .shareButton{
    border: none;
    padding: 6px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    cursor: pointer;
    color: aliceblue;
    margin-left: 30px;
 }
 .shareCancelBtn{
   border: none;
    padding: 6px;
    border-radius: 5px;
    background-color: rgb(206, 39, 39);
    font-weight: 500;
    cursor: pointer;
    color: aliceblue;
    margin-right: -130px;
 }
 
.shareImgContainer{
   padding: 0 20px 10px 20px;
   position: relative;
 }
 
 .shareImg{
   width: 100%;
   object-fit: cover;
 }
 
 .shareCancelImg{
   position: absolute;
   top: 0;
   right: 20px;
   cursor: pointer;
   opacity: 0.7;
 }
 .emojiPicker {
   position: absolute;
   top: 50px;
   right: 20px;
   z-index: 1000;
   background-color: white;
   border: 1px solid #ddd;
   border-radius: 10px;
   padding: 10px;
 }
 
 