.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #6ecfd6;
    display: flex;
    align-items: center;
    position:sticky;
    top: 0;
    z-index: 999;
}


.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    background-color: #6ecfd6;
}

.topbarLeft{
    flex: 3;
    background-color:#6ecfd6;
}

.topbarCenter{
    flex: 5;
}

.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #000000;
}

.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcons{
    display: flex;
}
.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: #ca5955;
    border-radius: 50%;
    color: #ffffff;
    position: absolute;
    top: -5px;
    right:-5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.searchbar{
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
}
.serachInput{
    border: none;
    width: 70%;
}
.serachInput:focus{
    outline: none;
}


