.sidebar{
    flex: 2.5;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: aliceblue;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(162, 172, 171);
    border-radius: 5px;
}

.siderbarWrapper{
    padding: 20px;
    
}

.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon{
    margin-right: 15px;
    
}

.sidebarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.sidebarHr{
    margin: 20px 0;
}

.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: 15px;
}

